* {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.creating-zone {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(169, 169, 169);
    width: 36%;
    height: 120px;
    margin-top: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: row;
}

.tasks-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}


.col {
    height: 750px;
    width: 30%;
    margin: 25px 0;
    background-color: rgb(169, 169, 169);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.col-head {
    width: 100%;
    height: 80px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.notdone {
    background-color: rgb(143, 30, 30);
}
.inprogress {
    background-color: rgb(220, 159, 52);
}
.done {
    background-color: rgb(28, 197, 25);
}

.task-title {
    font-size: 30px;
    height: 30px;
    border-radius: 15px;
    border-style: none;
    margin-top: 20px;
    margin-left: 25px;
    padding-left: 10px;
}

.top-creating {
    display: flex;
    flex-direction: row;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 70%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-style: none;
    background-color: rgb(57, 57, 57);
    font-size: 45px;
    font-weight: 700;
}

.add-button:hover {
    background-color: rgb(71, 70, 70);
}

.add-button:active {
    background-color: rgb(85, 85, 85);
}

.right-creating {
    height: 100%;
    width: 100px;
    background-color: rgb(112, 112, 112);
    margin-left: auto;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
}

.bot-creating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.categ {
    font-size: 24px;
    border-radius: 10px;
    border-style: none;
    width: 110px;
}

.prior {
    font-size: 24px;
    border-radius: 10px;
    border-style: none;
    width: 110px;
}

.task {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    height: 80px;
    border-radius: 25px;
    background-color: rgb(139, 139, 139);
    display: flex;
    flex-direction: row;
    cursor: move;
}

.info {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.top_info {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 15px;
}

.bot_info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
}

.del_button {
    background-color: rgba(0,0,0,0);
    border-style: none;
    transform: scale(1.4);
}

.del_button svg {
    fill: black;
}

.del_button svg:hover {
    fill: white;
}

.edit_button {
    background-color: rgba(0,0,0,0);
    border-style: none;
    transform: scale(1.4);
}

.edit_button svg {
    fill: black;
}

.edit_button svg:hover {
    fill: white;
}

.invisible {
    display: none;
}

.dragging {
    border: 4px solid rgb(82, 82, 82);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.drag-over {
    border: 5px dotted rgb(82, 82, 82);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.notdone-list {
    height: 100%;
}

.inprogress-list {
    height: 100%;
}

.done-list {
    height: 100%;
}

.ok_cancel_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
}

.ok_cancel_buttons button {
    height: 33%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    background-color: rgb(57, 57, 57);
    font-size: 16px;
    font-weight: 700;
    color: rgb(158, 158, 158);
}

.ok_cancel_buttons button:hover {
    background-color: rgb(71, 70, 70);
}

.ok_cancel_buttons button:active {
    background-color: rgb(85, 85, 85);
}

.all_wide {
    width: 100%;
}

.ok_button {
    border-top-right-radius: 35px;
}

.cancel_button {
    border-bottom-right-radius: 35px;
}